html, body {
/*    font-size: 62.5%; sets the base font-size(rem) to 10px so .1rem = 1px*/ 
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    display: grid;
    height: 100vh;
}

main {
    display: grid;
    align-self: center;
    grid-gap: 1rem;
    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: min(100px) auto;
    padding: 0  
}

.commie_logo {
    justify-self: center;
    align-self: center;
}

h1 {
    margin: 0;
    align-self: center;    
    text-align: center;
}

.info_bar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}