@font-face {
    font-family:'propaganda';
    src: url(../fonts/propaganda.ttf);
    font-size: 62.5%; /* sets the base font-size(rem) to 10px so .1rem = 1px*/ 
}
@font-face {
    font-family: 'PytoneOne';
    src: url(../fonts/PaytoneOne-Regular.ttf);
    font-size: 62.5%; /* sets the base font-size(rem) to 10px so .1rem = 1px*/ 
}

html, body {
    font-family:'PytoneOne',sans-serif;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aqua;
    display: grid;
    height: 100vh;
    font-size: 1.2rem;
}

main {
    display: grid;
    align-self: center;
    grid-gap: .5rem;
    justify-content: center;
}

header {
    display: grid;
    grid-template-columns: min(10rem) auto;
    padding: 0  
}

.commie-logo {
    justify-self: center;
    align-self: center;
}

h1 {
    font-family:'propaganda',sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    align-self: left;    
    text-align: left;
}

h2 {
    font-family:'propaganda',sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    align-self: center;    
    text-align: center;
}

h3 {
    font-family:'PytoneOne',sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
    margin: 0;
    padding: 0;
    align-self: center;    
    text-align: center;
}



/* Quiz Container Styles */

/* Panel Area (Quiz container): Info-bar and Panels*/
.game-area {
    border: .2rem solid rgba(128, 0, 0,0.8);
    max-width: 80%;
    width: 100%;
    justify-self: center;
    align-self: center;
    padding: 1rem;  
}

.info-bar {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
}

.panel-container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding: 1rem 1rem;
    background-color: darkgray;
}

/* Control Styles */
.hidden {
    visibility: hidden;
    margin: 0;
    padding:0;
}
